* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #f5f5f5;
  display: grid;
  place-items: center;
}
.loader {
  width: 30px;
  height: 30px;
  border-width: 3px;
  border-radius: 50%;
  border-top: 3px solid lightseagreen;
  border-left: 3px solid orange;
  border-right: 3px solid black;
  border-bottom: 3px solid green;
  animation: loading 1s ease-in-out 0s infinite forwards;
}
@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
