.spinner {
  width: 20px;
  height: 20px;
  border: 5px solid lightgray;
  border-right: 5px solid lightseagreen;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
